<footer>
    <div class="row">
        <div class="medium-3 columns copyright">
            <a href="/">
                <img src="/img/logo.png" alt="Immown">
            </a>
            <div>© 2015 Immown</div>
        </div>
        <div class="medium-3 columns">
            <ul>
                <li><strong>Biens à vendre</strong></li>
                <li><a href="/map/paris?rent=0">Immobilier Paris</a></li>
                <li><a href="/map/toulouse?rent=0">Immobilier Toulouse</a></li>
                <li><a href="/map/nice?rent=0">Immobilier Nice</a></li>
                <li><a href="/map/lyon-03?rent=0">Immobilier Lyon</a></li>
                <li><a href="/map/bordeaux?rent=0">Immobilier Bordeaux</a></li>
            </ul>
        </div>
        <div class="medium-3 columns">
            <ul>
                <li><strong>Locations</strong></li>
                <li><a href="/map/paris?rent=1">Locations Paris</a></li>
                <li><a href="/map/toulouse?rent=1">Locations Toulouse</a></li>
                <li><a href="/map/nice?rent=1">Locations Nice</a></li>
                <li><a href="/map/lyon-03?rent=1">Locations Lyon</a></li>
                <li><a href="/map/bordeaux?rent=1">Locations Bordeaux</a></li>
            </ul>
        </div>
        <div class="medium-3 columns">
            <ul>
                <li><strong>A propos</strong></li>
                <li><a href="/about">Entreprise</a></li>
                <li><a href="http://blog.immown.com/">Blog</a></li>
            </ul>
        </div>
    </div>
</footer>