<div class="overview">

    <a href="/listing/{{listing.id}}">
        <div class="img-thumbnail" style="position: relative; background-image:url({{listing.images[0].standard_url | cdn}});">
            <div class="counter">
                {{listing.images.length}} images
            </div>
        </div>
    </a>
    <a href="/listing/{{listing.id}}"><div style='padding-left: 10px; font-size: 13px;'>

        {% set listing_type = 'House' %}

        {% if listing.construction_type == '2' %}
        {% set listing_type = 'Apartment' %}
        {% endif %}

        {% if listing.construction_type == '3' %}
        {% set listing_type = 'Terrain' %}
        {% endif %}

        <strong>{{ listing_type }} {% if listing.is_rental %}for rent{% else %}for sale{% endif %}</strong>

        <div>{{ listing.price }}€ {% if listing.is_rental %}monthly {% endif %}</div>
        {% if listing.num_rooms %}
        <div>{{ listing.num_rooms }} Rooms</div>
        {% endif %}
        {% if listing.total_size %}
        <div>{{ listing.total_size }}m<sup>2</sup></div>
        {% else %}
        <div>&nbsp;</div>
        {% endif %}
        <span class="floatRight">{{ listing.town.name }}</span>
    </a>
</div>