<nav class="top-bar" data-topbar role="navigation">

        <ul class="title-area">
            <li class="name">
                <a href="/"><img src="/img/logo.png" alt="Immown"></a>
            </li>
        </ul>

        <section class="top-bar-section">
            <!-- Left Nav Section -->
            <ul class="left">
                <li class="has-form">
                    <form class="row collapse" action="/map/" method="post">
                        <div class="large-8 small-9 columns">
                            <input type="text" name="term" value="{{ search_term }}" placeholder="Find Stuff">
                        </div>
                        <div class="large-4 small-3 columns">
                            <button type="submit" class="button expand">Search</button>
                        </div>
                    </form>
                </li>
                <li><a href="/agents/">Agents</a></li>
                <li><a href="/home-owners/">Homeowners</a></li>
                <li><a href="/list-a-home/"><strong>List a Home</strong></a></li>
                <li><a href="/login/">Login</a></li>
                <li><a href="/sign-up/">Sign Up</a></li>
            </ul>
        </section>
</nav>