
{% extends "base.html" %}

{% block page %}
<div id="search_menu" class="menu_mobile_app search">
    <div class="search-bar">
        <a class="back_btn" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"/></svg></a>
        <form action="/map/" class="left" method="post">
            <input type="text" name="term">
            <button type="submit" class="search-submitter"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/></svg></button>
        </form>
    </div>
</div>
<nav class="top-bar listing" data-topbar role="navigation">

    <ul class="mobile-more left hide-for-large-up">
        <li>
            <a class="menu_btn" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/></svg></a>
        </li>
    </ul>

    <ul class="title-area left">
        <li class="name">
            <a href="/"><img src="/img/logo.png" alt="Immown"></a>
        </li>
    </ul>
    <ul class="mobile-more right hide-for-medium-up">
        <li>
            <a class="search_btn" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/></svg></a>
        </li>
    </ul>
    <section class="top-bar-section hide-for-small-down">
        <!-- Left Nav Section -->
        <ul class="left">
            <li class="has-form">
                <form action="/map/" method="post">
                    <input type="text" name="term" value="{{ search_term }}" placeholder="Département, Ville">
                    <button type="submit" class="search-submitter"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/></svg></button>
                </form>
            </li>
        </ul>
    </section>
    <section class="top-bar-section hide-for-medium-down">
        <!-- Left Nav Section -->
        <ul class="left">
            <li><a href="/map/?rent=0">Biens à vendre</a></li>
            <li><a href="/map/?rent=1">Locations</a></li>
            <li><a href="/about/">A propos</a></li>
        </ul>
    </section>
</nav>
<div class="page-content">
    <div class="about-header">
        <h1>World Class Real Estate</h1>
        <h2>Find property fast and easy with Immown</h2>
    </div>
    <div class="lander-enhance">
        <div class="row">
            <div class="medium-4 columns">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M0 0h24v24h-24z" fill="none"/>
                    <path d="M16 11c1.66 0 2.99-1.34 2.99-3s-1.33-3-2.99-3c-1.66 0-3 1.34-3 3s1.34 3 3 3zm-8 0c1.66 0 2.99-1.34 2.99-3s-1.33-3-2.99-3c-1.66 0-3 1.34-3 3s1.34 3 3 3zm0 2c-2.33 0-7 1.17-7 3.5v2.5h14v-2.5c0-2.33-4.67-3.5-7-3.5zm8 0c-.29 0-.62.02-.97.05 1.16.84 1.97 1.97 1.97 3.45v2.5h6v-2.5c0-2.33-4.67-3.5-7-3.5z"/>
                </svg>
            </div>
            <div class="medium-8 columns">
                <h2>Enfin, une nouvelle facon de trouver votre maison en ligne
                </h2>
                <p>Immown est l'outil le plus rapide pour trouver le meilleur bien en ligneis simply the
                    fastest way to find the best real estate online. With a strong focus on fast delivery,
                    we aim to make the home finding process as seamless and simple as possible. Only Immown provides
                    the first location aware search context for France.</p>
            </div>
        </div>
    </div>
</div>
{% include 'partials/footer.html' %}
{% endblock %}