<!DOCTYPE html>
<html>
    <head>
        <meta charset=utf-8 />
        <title></title>
        <script type="text/javascript" src="js/vendor/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" media="screen" href="css/app.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/immo.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="js/foundation.min.js" />

    </head>
    <body>
        {% block page %}
        {% endblock %}
        <script src="js/immodispo.min.js"></script>
        {% block scripts %}
        {% endblock %}
    </body>
</html>