
{% extends "base.html" %}

{% block page %}
<header class="hero-header">
    <nav class="top-bar" data-topbar role="navigation">

        <ul class="mobile-more left hide-for-medium-up">
            <li>
                <a class="menu_btn" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/></svg></a>
            </li>
        </ul>

        <ul class="title-area left">
            <li class="name">
                <a href="/"><img src="/img/logo.png" alt="Immown"></a>
            </li>
        </ul>


        <section class="top-bar-section hide-for-small-down">
            <!-- Left Nav Section -->
            <ul class="left">
                <li class="has-form">
                    <form action="/map/" method="post">
                        <input type="text" name="term" value="{{ search_term }}" placeholder="Department, Town">
                        <button type="submit" class="search-submitter"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/></svg></button>
                    </form>
                </li>
                <li><a href="/agents/">Agents</a></li>
                <li><a href="/home-owners/">Homeowners</a></li>
                <li><a href="/list-a-home/"><strong>List a Home</strong></a></li>
                <li><a href="/login/">Login</a></li>
                <li><a href="/sign-up/">Sign Up</a></li>
            </ul>
        </section>

    </nav>
    {% include "partials/mobile-menu.html" %}
    <div class="header-focus row">
        <h2>Your home is out there.</h2>
        <h3>Find it here.</h3>

        <form action='/map/' method='POST' class="medium-offset-2 medium-8 columns">
            <input name="term" type="text"><button type="submit">Go</button>
        </form>
        <div class="large-4 columns"></div>
    </div>
</header>
{% endblock %}