
{% extends "base.html" %}

{% block page %}
    <div>
    <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
            <li class="name">
                <h1><a href="#">Immodispo</a></h1>
            </li>
            <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
            <!-- Left Nav Section -->
            <ul class="left">
                <li class="has-form">
                    <div class="row collapse">
                        <div class="large-8 small-9 columns">
                            <input type="text" placeholder="Find Stuff">
                        </div>
                        <div class="large-4 small-3 columns">
                            <a href="#" class="alert button expand">Search</a>
                        </div>
                    </div>
                </li>
            </ul>
        </section>
    </nav>
    <div class="fill-height">
        <div id="map-sidebar">
            <form class="filter-form">
                <div class="row">
                    <label class="medium-6 columns">Purchase<input type="radio" name="salerent"></label>
                    <label class="medium-6 columns">Rent<input type="radio" name="salerent"></label>
                 </div>
                <div class="row">
                    <label class="medium-4 columns">Apartment<input type="checkbox" id="search_a" name="construction"></label>
                    <label class="medium-4 columns">House<input type="checkbox" id="search_h" name="construction"></label>
                    <label class="medium-4 columns">Terrain<input type="checkbox" id="search_t"  name="construction"></label>
                </div>
                <div class="row">
                    <label class="medium-6 columns">Min Price<input type="text" name="minprice"></label>
                    <label class="medium-6 columns">Max Price<input type="text" name="maxprice"></label>
                </div>
                <div class="row">
                    <label class="medium-6 columns">Min Size<input type="text" name="minsize"></label>
                    <label class="medium-6 columns">Max Size<input type="text" name="maxsize"></label>
                </div>
                <div class="row">
                    <label class="medium-6 columns">Min Bedrooms<input type="text" name="minbed"></label>
                    <label class="medium-6 columns">Max Bedrooms<input type="text" name="maxbed"></label>
                </div>

            </form>
            <ul class="listing-results">

            </ul>
        </div>
        <div id="map-canvas"></div>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
</div>
{% endblock %}