.fill-height {
    position: fixed;
    top: 45px;
    left: 0;
    bottom: 0;
    right: 0;
    max-width: 100%;
}

.fill-height > div {
    min-height: 100%;
}

#map-canvas {
    position: absolute;
    left: 450px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

#map-sidebar {
    width:450px;
    float: left;
    overflow-y: scroll;
    max-height: 100%;
}
