@import url(http://fonts.googleapis.com/css?family=Roboto);

#map-canvas {
    width: 100%;
    height: 100%;
}

#map-canvas img {
    max-width: none;
}

.listing-map {
    height: 300px;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled{
    opacity: 0.05;
}

.page-content {
    padding-top: 55px;
}



#map-holder {
    position: fixed;
    left: 0;
    top: 100px;
    right: 0;
    bottom: 0;
}

#map-holder .my-location {
    position: absolute;
    top: 24px;
    left: 24px;
    width:26px;
    height: 26px;
    background-color: rgba(0,0,0,0.4);
    border-radius: 2px;
    border: 1px solid rgba(255,255,255,0.4);
    fill: white;
    z-index: 9;
    cursor: pointer;
}

#map-sidebar {
    position: fixed;
    overflow-y: scroll;
    display: none;
    right: 0;
    left: 0;
    top: 100px;
    z-index: 1;
    background-color: white;
    height: 100%;
    width: 100%;
    max-height: 100%;
}

#map-sidebar form {
    display: none;
}

ul.listing-results {
    list-style-type: none;
    margin: 0;
}

.listing-results>li {
    height: 200px;
    padding:5px;
    border-bottom: 1px solid #eee;
    background-color: #eee;
}

.listing-results a {
    color: black;
}

.listing-results .sidebar-details {
    position: absolute;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 62%, rgba(0,0,0,0.6) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(62%,rgba(0,0,0,0.6)), color-stop(100%,rgba(0,0,0,0.6))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 62%,rgba(0,0,0,0.6) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 62%,rgba(0,0,0,0.6) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 62%,rgba(0,0,0,0.6) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 62%,rgba(0,0,0,0.6) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 ); /* IE6-9 */

    width: 100%;
    margin: 0;
    bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
}

.listing-results .sidebar-details>li {
    display: inline-block;
}

.listing-results .sidebar-price {
    float: right;
}

.listing-results .sidebar-details>li {
    color: white;
}

.listing-results>li:nth-child(odd) {
    background-color: #ddd;
}

.listing-results li .img-thumbnail {
    position: relative;
    background-size: cover;
    background-position: 50%;
    width: 100%;
    height: 190px;
    float:left;
}

.listing-results li .img-thumbnail .image-counter {
    width:100%;
    height: 20px;
    position: absolute;
    bottom: 0;
    padding-left: 20px;
    left: 0;
    font-size: 12px;
    font-weight: bold;
    background-color:rgba(0,0,0,0.6);
    color: white;
}

.top-bar .title-area {
    line-height: 55px;
    text-align: center;
    margin: 0 0 0 55px;
}

.mobile-more {
    position: absolute;
    right: 12px;
    top: 50%;
    margin-top: -12px;
}

.mobile-more.left {
    left: 0;
    right: auto;
    margin-left: 12px;
}

.mobile-more.right li {
    display: inline-block;
    margin-left: 12px;
}

.top-bar .title-area img {
    height: 33%;
}

.top-bar.listing {
    position: fixed;
    width: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

.lander-enhance,
footer {
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    z-index: 9;
    position: relative;
    padding: 50px;
}

footer {
    background-color: #50A4E5;
    font-size: 12px;
    color: white;
}

footer .copyright img {
    height: 20px;
    margin-bottom: 10px;
}

footer a,
footer a:hover,
footer strong {
    font-size: 12px;
    color: white;
    font-weight: bold;
}

footer strong {
    font-size: 13px;
    margin-bottom: 5px;
}

footer ul {
    list-style: none;
}

footer li.heading {
    margin-bottom: 10px;
}

footer li {
    line-height: 15px;
}

.map-hero {
    background-size: cover;
    min-height: 200px;
    background-image: url('/img/map.png');
}

.map-hero .header-focus {
    padding-top: 7%;
    text-align: center;
}

.intrinsic-wrapper {
    position: relative;
    padding-bottom: 40%;
    height: 0;
}

.intrinsic-wrapper>div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.map-hero h1,
.map-hero h2 {
    color: black;
    font-weight: bold;
}

.swiper-slide {
    text-align: center;
    position: relative;
}

.listing-info ul,
.listing-info p {
    font-size: 0.9rem
}

.hero-header {
    height: 400px;
    background: url(/img/hero2.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.hero-header .header-focus {
    padding-top: 75px;
    text-align: center;
}

.hero-header .header-focus.short {
    padding-top: 0;
}

.hero-header .header-focus input {
    height: 1.5em;
    font-size: 2em;
    display: inline;
    margin: 0;
    vertical-align: top;
}

.hero-header .header-focus button {
    height: 3em;
    margin: 0;
    padding: 0;
}

.hero-header form input,
.hero-header form button {
    display: block;
    width: 100%;
}

.hero-header .header-focus h2 {
    font-weight: bold;
    font-size: 1.3em;
    color: white;
}

.hero-header h3 {
    font-weight: bold;
    font-size: 1em;
    color: white;
}

.hero-header .top-bar-section ul li {
    margin-left: 30px;
}

.about-header {
    height: 600px;
    background: url(/img/hero-about.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    padding-top: 200px;
}

.about-header h1,
.about-header h2 {
    color: white;
    font-weight: bold;
}


.overview {
    width: 300px;
    max-width: 100%;
    height: 160px;
}

.overview a {
    color: black;
}

.overview .img-thumbnail {
    background-size: cover;
    background-position: 50%;
    width: 160px;
    height: 160px;
    float: left;
}

.overview button {
    margin-bottom: 5px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.overview .img-thumbnail .counter {
    width:100%;
    height: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    background-color:rgba(0,0,0,0.6);
    color: white;
}

.checkboxbutton {
    text-align: center;
    background-color:#EFEFEF;
    overflow:auto;
    float:left;
    border-left: 1px solid #cfdce5;
    border-bottom: 1px solid #cfdce5;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

.checkboxbutton label {
    width: 100%;
}

.checkboxbutton label span {
    text-align:center;
    padding: 10px 10px;
    display:block;
    font-weight: bold;
}

.checkboxbutton input[type="checkbox"] + span:before,
.checkboxbutton input[type="radio"] + span:before {
    content: url('/img/radio_off.svg');
    fill: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    width: 24px;
    height: 24px;
}

.checkboxbutton input[type="checkbox"] + span:before {
    content: url('/img/check_off.svg');
}

.checkboxbutton input[type="radio"]:checked + span:before {
    content: url('/img/radio_on.svg');
}

.checkboxbutton input[type="checkbox"]:checked + span:before {
    content: url('/img/check_on.svg');
}

.checkboxbutton label input {
    position:absolute;
    top:-20px;
}

.checkboxbutton input:hover + span {
    background-color:#cfdce5;
}

.checkboxbutton input:checked + span {
    background-color:#50a4e5;
    color:#fff;
}

.checkboxbutton input:checked:hover + span {
    background-color:#59b7ff;
    color:#fff;
}

.hero-header .top-bar-section ul li,
.hero-header .top-bar-section li:not(.has-form) a:not(.button),
.hero-header .top-bar {
    background: none;
}

.hero-header .top-bar-section ul li > a {
    color: white;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

.hero-header .top-bar-section ul li > a:hover {
    color: #1bb2ab;
}

.hero-header .top-bar-section .has-form {
    display: none;
}

.menu_btn {
    cursor: pointer;
}

.map-list,
.top-bar {
    z-index: 10;
}

.map-list {
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    height: 45px;
    background-color: #50a4e5;
}

.map-list div {
    width: 50%;
    height: 100%;
    text-align: center;
    color:white;
    line-height: 45px;
    text-decoration: none;
    font-family:'Roboto';
    font-weight: 400;
    font-size:1rem;

}

.map-list div.active {
    border-bottom: solid 3px  #59b7ff;
}

.top-bar form svg {
    fill: black;
}

.top-bar svg {
    fill: white;
}

.top-bar form {
    position: relative;
}

button.search-submitter {
    margin: 0;
    background-color: rgba(0,0,0,0);
    border: 0;
    padding: 0;
}

.top-bar button.search-submitter {
    position: absolute;
    top: 0;
    padding-top: 6px;
    width: 37px;
    height: 37px;
    right: 0;
}


.menu_mobile_app.search {
    height:100%;
    width: 100%;
    position:fixed;
    visibility: hidden;
    background: rgba(255,255,255,0.7);
    z-index:9999;
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out;
    -ms-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out, visibility 0s ease-out 0s
}

.menu_mobile_app.search.open {
    visibility: visible;
    opacity: 1;
}


.menu_mobile_app.search .search-bar {
    height: 55px;
    width: 100%;
    background-color: white;
}


.menu_mobile_app.search .back_btn {
    position: absolute;
    top: 16px;
    left: 16px;
}

.menu_mobile_app.search .search-submitter {
    position: absolute;
    top: 16px;
    right: 16px;
}



.menu_mobile_app.search input {
    width: 100%;
    line-height: 55px;
    font-size: 35px;
    height: 100%;
    border: 0;
}

.menu_mobile_app.search form {
    width: 100%;
    margin-left: 55px;
    border: 0;
    height: 100%;
}

.menu_mobile_app.search ul {
    padding:0;
    margin:0;
    list-style:none;
    color:#999999;
}
.menu_mobile_app.search ul li {
    height:70px;
    padding-left:10px;
    line-height:70px;
}
.menu_mobile_app.search ul li:hover {
    background:#f7f7f7;
}
.menu_mobile_app.search ul li a {
    color:#999999;
    text-decoration: none;
    font-family:'Roboto';
    font-weight: 400;
    font-size:1rem;
}

.listing-type .checkboxbutton {
    width: 33.33333%;
}

.purchase-type .checkboxbutton {
    width: 50%;
}

h3.js-result-count {
    text-align: center;
}


#menu_smartphone {
    height:100%;
    position:fixed;
    background:#ffffff;
    top:0;
    bottom:0;
    left:-300px;
    width:300px;
    max-width: 70%;
    z-index:9999;
    -webkit-transition: left 0.2s ease-out;
    -moz-transition: left 0.2s ease-out;
    -ms-transition: left 0.2s ease-out;
    -o-transition: left 0.2s ease-out;
    transition: left 0.2s ease-out;
}

#menu_smartphone.open {
    left: 0;
}

#menu_smartphone ul {
    padding:0;
    margin:0;
    list-style:none;
    color:#999999;
}
#menu_smartphone ul li {
    height:70px;
    padding-left:10px;
    line-height:70px;
}
#menu_smartphone ul li:hover {
    background:#f7f7f7;
}
#menu_smartphone ul li a {
    color:#999999;
    text-decoration: none;
    font-family:'Roboto';
    font-weight: 400;
    font-size:1rem;
}

.lander-enhance svg {
    fill: #50a4e5;
    width: 100%;
    height: auto;
}

.lander-enhance h4.alt {
    text-align: right;
}

.menu_mobile_app.filter-form {
    height:100%;
    position:fixed;
    background:#ffffff;
    top:0;
    bottom:0;
    right:-280px;
    width:280px;
    max-width: 90%;
    overflow-y: scroll;
    z-index:9999;
    -webkit-transition: right 0.2s ease-out;
    -moz-transition: right 0.2s ease-out;
    -ms-transition: right 0.2s ease-out;
    -o-transition: right 0.2s ease-out;
    transition: right 0.2s ease-out;
}

.menu_mobile_app.filter-form.open {
    right: 0;
}
.menu_mobile_app.filter-form ul {
    padding:0;
    margin:0;
    list-style:none;
    color:#999999;
}
.menu_mobile_app.filter-form ul li {
    height:70px;
    padding-left:10px;
    line-height:70px;
}
.menu_mobile_app.filter-form ul li:hover {
    background:#f7f7f7;
}
.menu_mobile_app.filter-form ul li a {
    color:#999999;
    text-decoration: none;
    font-family:'Roboto';
    font-weight: 400;
    font-size:1rem;
}


#grey_back {
    visibility:hidden;
    background-color:#000000;
    width:100%;
    height:100%;
    z-index:9998;
    position:fixed;
    top:0;
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out;
    -ms-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out, visibility 0s ease-out 0s
}

#grey_back.open {
    visibility: visible;
    opacity: 0.7;
}


.background_profil
{
    background-color: #50a4e5;
    height: 100px;
    text-align: center;
    padding-top: 30px;
}

.background_profil img
{
    width: 70%;
}
.pics_profil
{
    width: 70px;
    height: 70px;
    border-radius:50%;
    background-size: cover;
    background-image:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/173024/img_welcome.png);
    margin-top: -65px;
}
.name_profil
{
    font-size: 37px;
    font-family: 'Roboto';
    font-weight: 400;
    color: #666666;
    margin-top: -50px;
    margin-left: 140px;
    margin-bottom: 40px;
}
.hero-header .top-bar {
    box-shadow: none;
}



.top-bar .top-bar-section {
    display: block;
}

.top-bar .top-bar-section ul {
    display: inline;
    width: auto;
}


@media screen and (min-width: 40.063em) {
    #map-sidebar {
        width: 450px;
        display: block;
        left: 0;
        bottom: 0;
        top: 55px;
        height: 100%;
        max-height: 100%;
    }

    #map-sidebar,
    .top-bar {
        box-shadow: 0 0 10px rgba(0,0,0,0.4);
    }

    .listing-results .sidebar-details>li {
        display: block;
    }

    .listing-results li .img-thumbnail {
        width: 190px;
    }

    .listing-results .sidebar-details {
        position: static;
    }

    .listing-results .sidebar-details>li {
        color: black;
    }

    #map-sidebar form {
        display: block;
    }

    .map-hero .header-focus {
        padding-top: 12%;
        text-align: center;
    }

    #map-holder {
        position: fixed;
        left: 450px;
        top: 55px;
        bottom: 0;
    }

    .hero-header .header-focus input {
        width: 80%;
        display: inline;
    }

    .hero-header .header-focus button {
        width: 20%;
        display: inline;
    }


    .top-bar .has-form input[type='text'] {
        width:300px;
    }

    .hero-header {
        height: 600px;
    }

    .hero-header .header-focus h2 {
        font-size: 3em;
    }

    .hero-header .header-focus h3 {
        font-size: 2em;
    }

    .top-bar .title-area {
        margin-right: 0;
    }

    .top-bar .title-area img {
        height: 75%;
    }

    .swiper-container {
        height: 500px;
    }

    .checkboxbutton input[type="checkbox"] + span:before,
    .checkboxbutton input[type="radio"] + span:before{
        display: inline-block;
        margin: 0;
    }
}

@media screen and (min-width: 64.063em) {

    .top-bar button.search-submitter {
        top: 0.53125rem;
    }
}
